<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <style href="/stylesheets/style.css"></style>
  </head>
  <body>

    <nav>
      <article class="nav_buttons">
        <form action="michaelcalvey.me/homepage/" method="get">
          <button type="button" class="nav_button">Home</button>
        </form>
        <form action="michaelcalvey.me/blog/" method="get">
          <button type="button" class="nav_button">Blog</button>
        </form>
        <form action="michaelcalvey.me/users/" method="get">
          <button type="button" class="nav_button">Users</button>
        </form>
      </article>
    </nav>
  </body>
</html>
