<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel='stylesheet' href="/stylesheets/style.css" />
  </head>
  <body>

    <nav>
      <article id="header">
        <a href="http://michaelcalvey.me/homepage/" method="get">
          <div class="header_text">
            <h2>Home</h2>
          </div>
        </a>
        <a href="http://michaelcalvey.me/blog/" method="get">
          <div class="header_text">
            <h2>Blog</h2>
          </div>
        </a>
        <a href="http://michaelcalvey.me/users/" method="get">
          <div class="header_text">
            <h2>Users</h2>
          </div>
        </a>
        <a href="http://michaelcalvey.me/snake/" method="get">
          <div class="header_text">
            <h2>Snake</h2>
          </div>
        </a>
      </article>

      Welcome to my website! It is currently under construction, sorry!
    </nav>
  </body>
</html>
