<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <style href="/stylesheets/style.css"></style>
  </head>
  <body>

    <nav>
      <article class="http://michaelcalvey.me/nav_buttons">
        <a href="michaelcalvey.me/homepage/" method="get">
          <button type="button" class="nav_button">Home</button>
        </a>
        <a href="http://michaelcalvey.me/blog/" method="get">
          <button type="button" class="nav_button">Blog</button>
        </a>
        <a href="http://michaelcalvey.me/users/" method="get">
          <button type="button" class="nav_button">Users</button>
        </a>
      </article>
    </nav>
  </body>
</html>
