<div id="side-menu">
  <h3 id="side-menu-text">View by</h3>
  <form id="side-menu-form">
    <button class="side-menu-button" name="sortBy" value="js">Javascript</button>
    <button class="side-menu-button" name="sortBy" value="ruby">Ruby</button>
    <button class="side-menu-button" name="sortBy" value="shell">Shell</button>
  </form>
</div>

<article id="content">
  <h1>My Projects</h1>
  <p>
    My primary areas of expertise are Web and Virtual Reality development. This page will contain resources such as the source code, descriptions of various design features and in some cases hosted versions of games or websites. Enjoy!
  </p>
  <div class="project">
    <h2><a href="/projects/snake">Snake</a></h2>
    <p>
      Snake was our team's recreation of the classic 1976 game <i>Blockade</i> (now commonly known simply as snake) in javascript.
      Here is a list of the main mechanics:
      <ul>
        <li>
          Custom rendering engine for rendering the snake and food to the screen.
        </li>
        <li>
          Collision engine for detecting collisions between the snake, walls and food.
        </li>
        <li>
          Food generation algorithm for randomly placing food in an appropriate position.
        </li>
        <li>
          Movement engine for creating a responsive movement system that is reactive to player position and orientation.
        </li>
      </ul>
    </p>
    <p>
      See the source code <a href="https://github.com/calveym/snake">here</a>
    </p>
  </div>
  <div class="project">
    <h2>Airbnb clone</h2>
    <p>
      This airbnb clone was created using Javascript running with Node.js
    </p>
  </div>
</article>
