<div id="side-menu">
  <h3 id="side-menu-text">View by</h3>
  <form id="side-menu-form">
    <button class="side-menu-button" name="sortBy" value="js">Js</button>
    <button class="side-menu-button" name="sortBy" value="ruby">Ruby</button>
    <button class="side-menu-button" name="sortBy" value="shell">Shell</button>
  </form>
</div>
<article id="content">

</article>
