body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}

#nav_button {
  width: 100px;
  height: 25px;
  background-color: #FFFFFF
}
